.staff-detail {
  position: relative;
  border: 1px solid #e5e5e5;
  border-color: var(--stroke_black);
  border-radius: 4px;
}
.staff-detail__card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.staff-detail__card-row {
}
.staff-detail__card-image {
  padding: 48px;
}
.staff-detail__card-row--border-bottom {
  border-bottom: 1px solid #e5e5e5;
  border-color: var(--stroke_black);
}
.staff-detail__top-wrapper {
  padding: 47px 47px 27px 47px;
}
.staff-detail__bottom-wrapper {
  padding: 34px 47px 35px 47px;
}
.staff-detail__card--with-picture .staff-detail__top-wrapper {
  padding: 47px 0px 33px 47px;
}
.staff-detail__card--with-picture .staff-detail__bottom-wrapper {
  padding: 34px 0px 35px 47px;
}
.staff-detail__card-info {
  width: 100%;
}
.staff-detail__line {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.staff-detail__line--between {
  justify-content: space-between;
  margin-top: -24px;
}
.staff-detail__name-wrapper {
  margin-top: 17px;
}
.staff-detail__feedback {
  margin-top: 25px;
}
.staff-detail__label {
  font-size: 0.86667em;
  line-height: calc(1em + 7px);
  color: #999999;
  margin-bottom: 2px;
}
.staff-detail__name {
  font-size: 1.2em;
  line-height: calc(1em + 7px);
  color: #333333;
  color: var(--white_text_black);
}
.staff-detail__post {
  font-size: 1.2em;
  line-height: calc(1em + 7px);
  color: #333333;
  color: var(--white_text_black);
}
.staff-detail__properties {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -19px;
  margin-right: -19px;
  margin-top: -14px;
}
.staff-detail__property {
  padding: 0 19px;
  margin-top: 25px;
}
.staff-detail__property--socials {
  width: 100%;
}
.staff-detail__property-label,
.staff-detail__top-property-label,
.staff-detail__ex-property-label {
  font-size: 0.86667em;
  line-height: calc(1em + 7px);
  color: #999999;
}
.staff-detail__property-value,
.staff-detail__top-property-value {
  color: #333;
  color: var(--white_text_black);
}
.staff-detail__top-property + .staff-detail__top-property {
  margin: 21px 0 0 0;
}
.staff-detail__top-property__address-coord {
  margin: 3px 0 0 0;
}
.staff-detail__top-property__address-coord .color-theme {
  cursor: pointer;
  color: var(--fill_dark_light_white_hover);
}
.staff-detail__top-property__address-coord .color-theme:hover {
  color: #333;
  color: var(--fill_dark_light_ccc);
}
.staff-detail__top-property__address-coord .svg {
  margin: 0 9px 0 0;
}
.staff-detail__top-property__address-coord svg path {
  fill: var(--fill_dark_light_white_hover);
}
.staff-detail__top-property__address-coord .color-theme:hover svg path {
  fill: #333;
  fill: var(--fill_dark_light_ccc);
}
.staff-detail__ex-property {
  margin: 0 0 35px 0;
}
.staff-detail__ex-property-label {
  font-size: 1.067em;
  line-height: calc(1em + 9px);
}
.staff-detail__ex-property-value {
  color: #555;
  color: var(--basic_text_black);
  margin: 10px 0 0 0;
}
.staff-detail__map {
  position: relative;
}
.staff-detail__map-wrapper {
  position: relative;
  display: none;
  margin: 0 47px 47px 47px;
}
.staff-detail__map__close {
  width: 40px;
  height: 40px;
  border-radius: 0 0 0 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: #fff;
  background: var(--black_bg_black);
  z-index: 2;
  cursor: pointer;
  top: -20px;
  left: 50%;
  margin: 0 0 0 -20px;
  border-radius: 100%;
}
.staff-detail__text-wrapper {
  margin-top: 28px;
}
.staff-detail__text {
}
.staff-detail__image-wrapper {
  width: 300px;
  height: 300px;
}
.staff-detail__image {
  padding: 50%;
  position: relative;
  vertical-align: top;
  display: inline-block;
  border-radius: 4px;
  overflow: hidden;
}
.staff-detail__image-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.staff-epilog {
  margin-top: 2.89rem;
}
@media (max-width: 1100px) {
  .right_block.narrow_Y .staff-detail__image-wrapper {
    width: 100%;
    height: auto;
    min-width: 200px;
  }
}
@media (max-width: 998px) {
  .right_block.narrow_Y .staff-detail__image-wrapper {
    width: 100%;
    height: auto;
    min-width: 300px;
  }
}
@media (max-width: 800px) {
  .staff-detail__card {
    flex-direction: column-reverse;
  }

  .staff-detail__card--with-picture .staff-detail__bottom-wrapper {
    padding: 35px 32px 32px 32px;
  }
  .staff-detail__line--between {
    justify-content: space-between;
    flex-direction: column;
  }
  .staff-detail__card--with-picture .staff-detail__top-wrapper {
    padding: 32px 32px 35px 32px;
  }
  .staff-detail__card-image {
    padding: 0;
  }
  .staff-detail__image-wrapper {
    padding-bottom: 0;
  }
  .staff-detail__image-wrapper {
    width: 100%;
    height: 100%;
    padding: 32px 32px 0px 32px;
  }
}

.staff-epilog .reviews-info {
  padding: 40px;
  background: linear-gradient(0deg, #fafafa, #fafafa), #ffffff;
  background: var(--black_bg_black);
  border: 1px solid #e5e5e5;
  border-color: var(--stroke_black);
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 40px;
}
.staff-epilog .reviews-info__line,
.staff-epilog .reviews-info__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.staff-epilog .reviews-info__icon {
  margin-right: 23px;
}
.staff-epilog .reviews-info__text {
  margin-top: -6px;
  margin-right: 40px;
}
.staff-epilog .reviews-info__text p:last-child {
  margin-bottom: 0;
}
.staff-epilog .reviews-info__btn-wrapper--singleton {
  margin: 0;
  padding: 0;
}
@media (max-width: 1200px) {
  .right_block.narrow_Y .staff-epilog .reviews-info__line {
    flex-wrap: wrap;
  }
  .right_block.narrow_Y .staff-epilog .reviews-info__btn-wrapper {
    margin-right: 0;
    margin-top: 20px;
    margin-left: 64px;
    text-align: left;
  }
  .right_block.narrow_Y .staff-epilog .reviews-info__btn-wrapper--singleton {
    margin: 0;
    padding: 0;
  }
  .staff-epilog .reviews-info__text {
    margin-right: 0;
  }
}
@media (max-width: 600px) {
  .right_block.narrow_Y .staff-epilog .reviews-info__line {
    flex-wrap: wrap;
  }
  .right_block.narrow_Y .staff-epilog .reviews-info__btn-wrapper {
    margin-right: 0;
    margin-top: 20px;
    margin-left: 0px;
    text-align: center;
  }
  .right_block.narrow_Y .staff-epilog .reviews-info__btn-wrapper--singleton {
    margin: 0;
    padding: 0;
  }
  .staff-epilog .reviews-info__text {
    margin-right: 0;
  }
}
@media (max-width: 768px) {
  .staff-epilog .reviews-info__line {
    flex-wrap: wrap;
  }
  .staff-epilog .reviews-info__btn-wrapper {
    margin-right: 0;
    margin-top: 20px;
    margin-left: 64px;
    text-align: left;
  }
  .staff-epilog .reviews-info__text {
    margin-right: 0;
  }
}
@media (max-width: 600px) {
  .staff-epilog .reviews-info__col,
  .staff-epilog .reviews-info__line {
    flex-direction: column;
  }
  .staff-epilog .reviews-info {
    padding: 38px 26px 35px;
  }
  .staff-epilog .reviews-info__icon {
    margin-right: 0;
    margin-bottom: 15px;
    text-align: center;
  }
  .staff-epilog .reviews-info__text {
    margin-right: 0;
  }
  .staff-epilog .reviews-info__btn-wrapper {
    margin-right: 0;
    margin-top: 20px;
    margin-left: 0;
    text-align: center;
  }
  .staff-epilog .reviews-info__line {
    flex-direction: column;
  }
}

.staff-schedule {
  position: relative;
  border: 1px solid #e5e5e5;
  border-color: var(--stroke_black);
  border-radius: 4px;
}
.staff-schedule__body {
  color: #333333;
  color: var(--white_text_black);
}
.staff-schedule__row {
  padding: 0px 20px;
  border-bottom: 1px solid #e5e5e5;
  border-bottom-color: var(--stroke_black);
}
.staff-schedule__row.staff-schedule__row--empty {
  background: #fafafa;
  background: var(--light2_bg_black);
}
.staff-schedule__head {
  padding: 5px 20px 6px;
  border-bottom: 1px solid #e5e5e5;
  border-bottom-color: var(--stroke_black);
  font-size: 0.86667em;
  line-height: calc(1em + 7px);
  color: #999999;
}
.staff-schedule .staff-schedule__body {
  font-size: 0.9333em;
  line-height: 1.5715em;
}
.staff-schedule .staff-schedule__body .week_name {
  font-size: 1.1em;
  margin-top: -1px;
}
.staff-schedule__date {
  font-weight: bold;
  display: flex;
  padding-top: 14px;
  padding-bottom: 14px;
}
.staff-schedule .sub_row.columns_titles {
  padding-top: 0;
  padding-bottom: 0;
}
.staff-schedule__date .date {
  font-weight: normal;
  margin-left: 19px;
  color: #333;
  color: var(--white_text_black);
}
.staff-schedule span.show_on_map {
  cursor: pointer;
}
.staff-schedule span.show_on_map i.svg {
  min-width: auto;
  min-height: auto;
  margin-right:3px;
}
.staff-schedule span.show_on_map .svg svg {
  display: block;
}
.staff-schedule .sub_row {
  padding: 14px 0px;
  border-bottom: 1px solid #ecf2f4;
}
.staff-schedule .sub_row:last-of-type {
  border-bottom:none;
}
.staff-schedule__body .staff-schedule__info {
  padding-right: 0;
}
.staff-schedule__body .staff-schedule__row > .row{
  margin-right: -21px;
}
.staff-schedule__info .sub_row {
  padding-right: 20px;
}
.staff-schedule .arrow_link {
  position: relative;
  display: flex;
  width: 38px;
  height: 38px;
  padding: 0;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.staff-schedule .arrow_link .arrow-all {
  position: relative;
  right: initial;
  top: initial;
  left: initial;
}
.staff-schedule .prev_week.arrow_link {
  transform: rotate(180deg);
}
.staff-schedule .arrow_link:hover .svg-inline-right-arrow path {
  fill: #fff!important;
}
.staff-schedule .arrow_link i.svg {
  background-color: transparent;
  min-width: auto;
  min-height: auto;
}
.staff-schedule .arrow_link .svg svg {
  display: block;
}
.staff-schedule .svg.svg-inline-right-arrow {
  position: absolute;
  top: 13px;
  left: 12px;
}
.staff-schedule .switch_block {
  margin: 0 19px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 19px 0px;
  border-bottom: 1px solid #e5e5e5;
  border-bottom-color: var(--stroke_black);
}
.staff-schedule .switch_week_title {
  padding: 0px 34px;
  margin: 0 19px;
  font-size: 1.200em;
  line-height: 1.454em;
  font-weight: bold;
  color: #333;
  color: var(--white_text_black);
  text-align: center;
}
.staff-schedule__date .date.short {
  display: none;
}
.staff-schedule__info span.show_on_map:hover {
  color: #333;
}
.staff-schedule__info span.show_on_map:hover svg path {
  fill: #333;
}
.staff-schedule__row.staff-schedule__row--empty .staff-schedule__info .sub_row.no_rec {
  color: #999;
}
.staff-staff-schedule___address-coord .color-theme {
  cursor: pointer;
  color: var(--fill_dark_light_white_hover);
}
.staff-staff-schedule___address-coord .color-theme:hover {
  color: #333;
  color: var(--fill_dark_light_ccc);
}
.staff-staff-schedule___address-coord .svg {
  margin: 0 9px 0 0;
}
.staff-staff-schedule___address-coord svg path {
  fill: var(--fill_dark_light_white_hover);
}
.staff-staff-schedule___address-coord .color-theme:hover svg path {
  fill: #333;
  fill: var(--fill_dark_light_ccc);
}
.staff-schedule__map {
  position: relative;
}
@media(max-width: 767px){
  .staff-schedule .switch_block {
    margin: 0;
    padding: 19px;
  }
  .desktop_staff-schedule__title {
    display: none;
  }
  .staff-schedule .staff-schedule__body {
    font-size: 0.8667em;
  }
  .staff-schedule__date .date {
    display: none;
  }
  .staff-schedule__date .date.short {
    margin-left: 0;
    display: block;
  }
  .staff-schedule__date {
    flex-direction: column;
  }
  .staff-schedule .switch_week_title {
    font-size: 1em;
    line-height: 1.254em;
    padding: 0px 30px 0px;
    margin: 0;
  }
  .staff-schedule .sub_row {
    padding: 10px 0px 10px;
  }
  .staff-schedule__date {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .staff-schedule .staff-schedule__body .week_name {
    font-size: 1em;
  }
}